# 配置 npm 的默认镜像源为腾讯镜像源
registry = "http://mirrors.cloud.tencent.com/npm/"
# registry = "https://registry.npmmirror.com"
# registry = "https://registry.npmjs.org"
link-workspace-packages = true
node-linker = hoisted
virtual-store-dir = .pnpm
virtual-store-dir-max-length = 60
