.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: var(--font-size-15);
  font-family: 'CN Heavy';
  color: #cccccc;
  position: absolute;
  left: 0;
  top: var(--spacing-150);

  .settings-center {
    width: var(--size-1500);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: var(--spacing-25);
  }

  .device-info,
  .firmware-version,
  .device-set,
  .firmware-set {
    width: var(--size-700);
    height: var(--setting-item-height);
    margin-bottom: var(--spacing-30);
    background-image: url('@/assets/images/settings_bg1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
  }

  .update-log {
    width: var(--size-1500);
    height: var(--size-200);
    border-radius: var(--size-20);
    border: var(--spacing-3) solid rgb(37, 37, 37);
    box-sizing: border-box;
    background-color: #000000;
  }

  p {
    margin: var(--spacing-20) 0 var(--spacing-15) var(--spacing-30);
    font-size: var(--font-size-15);
    font-family: 'CN Heavy';
    color: #cccccc;
  }

  .reset-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--spacing-20);
    font-family: 'CN Heavy';
    color: #ffffff;

    & span {
      display: flex;
      margin-top: var(--spacing-5);
      font-size: var(--font-size-16);
    }
  }

  .content-box {
    display: flex;
    justify-content: center;
    font-size: var(--font-size-16);
    font-family: 'CN Heavy';
    color: #ffffff;

    & span {
      margin-top: var(--spacing-20);
    }
    & span:first-child {
      margin-right: var(--spacing-10);
    }
  }

  .firmware-update {
    margin-top: var(--spacing-20);
    font-family: 'CN Heavy';
    color: #ffffff;

    &__choose-version {
      display: flex;
      align-items: center;
      justify-content: center;

      > span {
        font-size: var(--font-size-16);
      }

      & .online-upload {
        width: var(--size-170);
        height: var(--size-40);
        box-sizing: border-box;
        margin: 0 var(--spacing-10);
        text-align: center;
        // line-height: var(--size-40);
        border-radius: var(--spacing-10);
        border: var(--spacing-2) solid rgb(37, 37, 37);
        cursor: pointer;
        position: relative;

        > span {
          display: flex;
          margin-top: var(--spacing-6);
          transition: all 0.2s ease-in-out;
          
          &.hasFile {
            margin-top: 0;
          }
        }
        .online-download-text {
          // display: flex;
          // width: 100px;
          margin: auto;
          margin-top: var(--spacing-10);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        & .online-pack-name {
          color: #ccc;
          font-size: 10px;
          margin: 0;
        }

        ::v-deep(.el-progress__text) {
          text-align: left;
        }
      }
    }

    & div + div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: var(--spacing-20);
    }
    .loading {
      color: rgba(255, 255, 255, 0.5);
      cursor: not-allowed;
    }
    .localUpdate-btn {
      display: flex;
      max-width: var(--spacing-90);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
    }
    .uploader {
      width: var(--size-200);
      height: var(--size-40);
      margin: 0 var(--spacing-10);
      display: flex;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      border-radius: var(--spacing-10);
      border: var(--spacing-2) solid rgb(37, 37, 37);
      position: relative;

      &-text {
        margin-top: var(--spacing-6);
        transition: all 0.2s ease-in-out;
        &.hasFile {
          margin-top: 0;
        }
      }

      &-progress {
        width: 100%;
        margin-left: var(--spacing-18);
        position: absolute;
        bottom: 0;

        ::v-deep(.el-progress-bar) {
          width: var(--size-120);
        }
      }
    }
    ::v-deep(.el-upload:focus) {
      // display: none;
      color: rgb(255, 255, 255);
    }
    ::v-deep(.el-upload-list) {
      // display: none;
      width: var(--size-200);
      margin-top: calc(var(--spacing-8) * -1);
    }
    ::v-deep(.el-icon) {
      display: none;
    }
    ::v-deep(.el-upload-list__item:hover) {
      background: none;
    }
    ::v-deep(.el-upload-list__item-file-name) {
      font-size: var(--font-size-10);
    }
  }

  .rate-of-return {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'CN Heavy';
    color: #ffffff;

    & span {
      font-size: var(--font-size-16);
    }
  }
  .cover-list {
    width: var(--size-170);
    height: var(--size-40);
    margin-left: var(--spacing-10);
    display: flex;
    align-items: center;
    background-image: url('@/assets/images/select_bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;

    .change-icon {
      width: var(--size-20);
      height: var(--size-20);
      object-fit: fill;
      margin-left: calc(var(--spacing-10) + var(--spacing-1));
    }
    .down-icon {
      width: var(--size-13);
      height: var(--size-8);
      object-fit: fill;
      transition: transform 0.3s ease-in-out;
    }

    span {
      border: none;
      color: #fff;
      display: inline-block;
      margin: var(--spacing-8) 0 0 var(--spacing-16);
      height: calc(var(--spacing-30) + var(--spacing-1));
      font-size: var(--font-size-18);
      font-family: 'CN Heavy';
      margin: var(--spacing-5) var(--spacing-10) 0 var(--spacing-40);
    }

    .drop-list {
      position: absolute;
      top: var(--spacing-45);
      left: var(--spacing-4);
      z-index: 2;
      box-sizing: border-box;
      padding-right: var(--spacing-5);
      overflow-y: scroll;
      transition: height 0.3s ease;
      background-color: #000;

      ul {
        list-style-type: none;
        li {
          width: var(--size-160);
          height: var(--size-40);
          padding: var(--spacing-10);
          text-align: center;
          margin-bottom: var(--spacing-5);
          color: #fff;
          font-family: 'CN Heavy';
          background-image: url('@/assets/images/item_bg.svg');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        .checked-item {
          background-image: url('@/assets/images/item_bg_checked.gif');
        }
      }
    }

    /* 滚动条整体样式 */
    .drop-list::-webkit-scrollbar {
      height: var(--spacing-10);
      width: var(--spacing-5);
    }

    /* 滚动条轨道 */
    .drop-list::-webkit-scrollbar-track {
      background: transparent;
    }

    /* 滚动条手柄 */
    .drop-list::-webkit-scrollbar-thumb {
      background: rgb(37, 37, 37);
    }

    /* 隐藏滚动条 */
    .drop-list::-webkit-scrollbar {
      display: none;
    }

    /* 当容器被悬停时显示滚动条 */
    .drop-list:hover::-webkit-scrollbar {
      display: block;
    }
  }
  .is-selected {
    background-image: url('@/assets/images/selected_bg.gif');

    span {
      color: #000 !important;
    }
  }

  .save-btn,
  .update-btn {
    width: var(--size-170);
    height: var(--size-40);
    margin-left: var(--spacing-10);
    background-image: url('/src/assets/images/save_bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;

    img {
      width: var(--size-20);
      height: var(--size-20);
      object-fit: fill;
      position: absolute;
      top: var(--spacing-10);
      left: var(--spacing-10);
    }

    span {
      width: calc(var(--size-100) + var(--spacing-9));
      text-align: center;
      font-size: var(--font-size-18);
      color: #fff;
      position: absolute;
      top: var(--spacing-6);
      left: var(--spacing-50);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 100%;
    }
  }
  .is-active {
    background-image: url('/src/assets/images/save_bgc.svg');
  }

  .outer-box {
    display: flex;
    box-sizing: border-box;
    padding: 0 var(--spacing-20);
    margin-top: var(--spacing-35);

    .inter-box {
      width: var(--size-300);
      height: var(--size-100);
      margin-right: var(--spacing-50);
      font-size: var(--font-size-16);
      font-family: 'CN Heavy';
      color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;

      div {
        margin-bottom: var(--spacing-10);
      }

      > img {
        width: var(--size-16);
        height: var(--size-16);
        position: absolute;
        right: 0;
        top: 50%;
        margin: calc(var(--spacing-8) * -1);
      }

      > .update-changes {
        width: var(--size-300);
        padding: var(--spacing-20);
        margin-left: var(--spacing-20);
        color: #ffffff;
        font-family: 'CN Heavy';
        box-sizing: border-box;
        border-radius: var(--spacing-15);
        border: var(--spacing-2) solid #242424;
        background-color: #0d0d0d;
        position: absolute;
        left: var(--size-300);
        z-index: 3;

        > h4 {
          font-weight: 500;
          font-size: var(--font-size-16);
          margin-bottom: var(--spacing-20);
        }

        > ul {
          margin-left: var(--spacing-15);
          > li {
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
    }
  }
}
