:root {
  /* 常规分辨率 (1080p) */
  --spacing-1: 1px;
  --spacing-2: 2px;
  --spacing-3: 3px;
  --spacing-4: 4px;
  --spacing-5: 5px;
  --spacing-6: 6px;
  --spacing-7: 7px;
  --spacing-8: 8px;
  --spacing-9: 9px;
  --spacing-10: 10px;
  --spacing-11: 11px;
  --spacing-12: 12px;
  --spacing-13: 13px;
  --spacing-14: 14px;
  --spacing-15: 15px;
  --spacing-16: 16px;
  --spacing-18: 18px;
  --spacing-20: 20px;
  --spacing-21: 21px;
  --spacing-22: 22px;
  --spacing-24: 24px;
  --spacing-25: 25px;
  --spacing-26: 26px;
  --spacing-30: 30px;
  --spacing-33: 33px;
  --spacing-34: 34px;
  --spacing-35: 35px;
  --spacing-38: 38px;
  --spacing-40: 40px;
  --spacing-45: 45px;
  --spacing-50: 50px;
  --spacing-54: 54px;
  --spacing-55: 55px;
  --spacing-60: 60px;
  --spacing-65: 65px;
  --spacing-70: 70px;
  --spacing-75: 75px;
  --spacing-80: 80px;
  --spacing-90: 90px;
  --spacing-95: 95px;
  --spacing-105: 105px;
  --spacing-110: 110px;
  --spacing-120: 120px;
  --spacing-130: 130px;
  --spacing-150: 150px;
  --spacing-265: 265px;
  --spacing-280: 280px;

  --size-8: 8px;
  --size-10: 10px;
  --size-12: 12px;
  --size-13: 13px;
  --size-14: 14px;
  --size-15: 15px;
  --size-16: 16px;
  --size-17: 17px;
  --size-18: 18px;
  --size-20: 20px;
  --size-22: 22px;
  --size-25: 25px;
  --size-28: 28px;
  --size-30: 30px;
  --size-31: 31px;
  --size-32: 32px;
  --size-34: 34px;
  --size-35: 35px;
  --size-36: 36px;
  --size-40: 40px;
  --size-42: 42px;
  --size-48: 48px;
  --size-50: 50px;
  --size-54: 54px;
  --size-55: 55px;
  --size-60: 60px;
  --size-70: 70px;
  --size-78: 78px;
  --size-80: 80px;
  --size-100: 100px;
  --size-120: 120px;
  --size-130: 130px;
  --size-140: 140px;
  --size-144: 144px;
  --size-150: 150px;
  --size-160: 160px;
  --size-170: 170px;
  --size-180: 180px;
  --size-190: 190px;
  --size-200: 200px;
  --size-220: 220px;
  --size-230: 230px;
  --size-240: 240px;
  --size-245: 245px;
  --size-250: 250px;
  --size-260: 260px;
  --size-270: 270px;
  --size-290: 290px;
  --size-300: 300px;
  --size-306: 306px;
  --size-350: 350px;
  --size-380: 380px;
  --size-390: 390px;
  --size-400: 400px;
  --size-440: 440px;
  --size-510: 510px;
  --size-600: 600px;
  --size-650: 650px;
  --size-670: 670px;
  --size-700: 700px;
  --size-960: 960px;
  --size-1040: 1040px;
  --size-1310: 1310px;
  --size-1300: 1300px;
  --size-1340: 1340px;
  --size-1600: 1600px;
  --size-1500: 1500px;

  --font-size-8: 8px;
  --font-size-9: 9px;
  --font-size-10: 10px;
  --font-size-11: 11px;
  --font-size-12: 12px;
  --font-size-13: 13px;
  --font-size-14: 14px;
  --font-size-15: 15px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-30: 30px;
  --font-size-100: 100px;

  --menu-item-width: 200px;
  --menu-item-height: 42px;

  /* connect 组件的变量 */
  --connect-logo-height: 228px;
  --connect-operate-width: 58px;

  /* performance 组件的变量 */
  --performance-center-box-width: 740px;
  --performance-link-btn-left: 480px;
  --performance-link-btn-top: 112px;
  --switch-width: 73px;
  --mode-offset-x-280: 280px;
  --translate-x-value: -190px;
  --scale-54: 54px;
  --scale-114: 114px;
  --scale-172: 172px;
  --scale-191: 191px;
  --scale-42: 42px;
  --scale-92: 92px;
  --scale-142: 142px;
  --scale-190: 190px;
  --scale-1: -1px;
  --scale-55: 55px;
  --scale-117: 117px;
  --scale-178: 178px;
  --scale-241: 241px;
  --slider-height: 192px;
  --slider-point-left: 0;
  --dead-zone-height: 60;
  --axis-width: 1000px;
  --carousel-outer-width: 1030px;
  --carousel-inner-width: 1275px;
  --carousel-shadow-width: 925px;
  --carousel-offset-x: 175;

  /* 其他组件的变量 */
  --assignment-menu-width: 245px;
  --assignment-config-card-width: 260px;
  --assignment-leftbox-width: 300px;
  --character-card-width: 650px;
  --character-card-height: 290px;
  --character-card-tab-width: 110px;
  --character-card-tab-width2: 150px;
  --character-card-tab-height: 30px;
  --character-card-tab-left: 50px;
  --character-card-key-right: 10px;
  --mt-el-button-margin: 10px;
  --socd-el-button-margin: 10px;
  --dks-key-left1: 78px;
  --dks-key-left2: 132px;
  --dks-key-left3: 185px;
  --dks-key-left4: 240px;
  --dks-key-height: 20px;
  --dks-key-width1: 20;
  --dks-key-width2: 60;
  --dks-key-width3: 80;
  --dks-key-width4: 110;
  --dks-key-width5: 130;
  --dks-key-width6: 165;
  --dks-key-width7: 185;
  --socd-slider-height: 20px;
  --calibration-echarts-width: 880px;
  --echarts-container-width: 760px;
  --echarts-container-height: 206px;
  --setting-item-height: 200px;
  --nav-container-width: 1380px;
  --nav-container-height: 50px;
  --nav-item-width: 220px;
  --keyboard-side-width: 120px;
  --keyboard-side-width2: 130px;
  --key-first-row-right: 17.5px;
  --key-first-row-bottom: 17.5px;
  --key-fifth-row-right: 73px;
  --key-nth15-right: 128px;
  --key-row-bottom: 5px;
  --key--default-width: 50px;
  --key-default-right: 5px;
  --key-width1: 62.5px;
  --key-width2: 75px;
  --key-width3: 87.5px;
  --key-width4: 100px;
  --key-width5: 116.5px;
  --key-width6: 142.5px;
  --key-width7: 342.5px;
  --macro-height: 756px;
  --macro-edit-page-width: 940px;
  --macro-key-width: 800px;
  --macro-delay-width: 430px;
  --macro-card-height: 366px;
  --macro-change-key-width: 1190px;
  --lighting-item-height: 42px;
  --lighting-item-width: 200px;
  --lighting-dynamic-width: 590px;
  --lighting-static-width: 270px;
  --lighting-set-width: 390px;
  --lighting-item-right: 10px;
  --slider-width: 190;
  --slider-btn-offset: 11;
  --lighting-custom-width: 590px;
  --iro-handle-top: -13px;
  --iro-handle-left: -15px;
  --keyboard-row2-top: 89px;
  --keyboard-row3-top: 143px;
  --keyboard-row4-top: 198px;
  --keyboard-row5-top: 253px;
  --keyboard-row6-top: 307px;
  --keyboard-v2-width: 896px;
  --keyboard-v2-height: 387px;
  --keyboard-v2-padding: 30px 37px;
  --keyboard-pseudo-element-width: 845px;
  --keyboard-pseudo-element-height: 290px;
  --keyboard-pseudo-element-top: 20px;
  --keyboard-pseudo-element-left: 27px;
}

/* 2K 分辨率 (1440p) 2560*1440 
  问距值(spacing): 从约1.25倍降到约1.1-1.15倍
  尺寸值(size): 从约1.25倍降到约1.1-1.15倍
  字体大小:从约1.25倍降到约1.15-1.2倍
  组件尺寸:从约1.25倍降到约1.15倍
*/
@media screen and (min-width: 2000px) and (max-width: 3000px) {
  :root {
    /* 间距 */
    --spacing-1: 1px;
    --spacing-2: 2px;
    --spacing-3: 4px;
    --spacing-4: 5px;
    --spacing-5: 6px;
    --spacing-6: 7px;
    --spacing-7: 8px;
    --spacing-8: 9px;
    --spacing-9: 10px;
    --spacing-10: 12px;
    --spacing-11: 13px;
    --spacing-12: 14px;
    --spacing-13: 15px;
    --spacing-14: 16px;
    --spacing-15: 18px;
    --spacing-16: 18px;
    --spacing-17: 19px;
    --spacing-18: 21px;
    --spacing-20: 24px;
    --spacing-21: 25px;
    --spacing-22: 26px;
    --spacing-24: 28px;
    --spacing-25: 29px;
    --spacing-26: 30px;
    --spacing-30: 35px;
    --spacing-33: 38px;
    --spacing-34: 39px;
    --spacing-35: 40px;
    --spacing-38: 44px;
    --spacing-40: 45px;
    --spacing-45: 54px;
    --spacing-50: 55px;
    --spacing-54: 62px;
    --spacing-55: 60px;
    --spacing-60: 70px;
    --spacing-65: 72px;
    --spacing-70: 80px;
    --spacing-75: 85px;
    --spacing-80: 100px;
    --spacing-90: 100px;
    --spacing-95: 105px;
    --spacing-105: 115px;
    --spacing-110: 120px;
    --spacing-120: 130px;
    --spacing-130: 143px;
    --spacing-150: 165px;
    --spacing-280: 322px;
    --spacing-265: 305px;

    /* 尺寸 */
    --size-8: 9px;
    --size-10: 12px;
    --size-12: 14px;
    --size-13: 15px;
    --size-14: 16px;
    --size-15: 17px;
    --size-16: 18px;
    --size-17: 19px;
    --size-18: 20px;
    --size-20: 22px;
    --size-22: 26px;
    --size-25: 28px;
    --size-28: 32px;
    --size-30: 34px;
    --size-31: 36px;
    --size-32: 36px;
    --size-34: 38px;
    --size-35: 40px;
    --size-36: 41px;
    --size-40: 45px;
    --size-42: 46px;
    --size-48: 55px;
    --size-50: 60px;
    --size-54: 62px;
    --size-55: 65px;
    --size-60: 70px;
    --size-70: 80px;
    --size-78: 90px;
    --size-80: 92px;
    --size-100: 115px;
    --size-120: 138px;
    --size-130: 150px;
    --size-140: 161px;
    --size-144: 165px;
    --size-150: 170px;
    --size-160: 180px;
    --size-170: 195px;
    --size-180: 200px;
    --size-190: 228px;
    --size-200: 240px;
    --size-220: 250px;
    --size-230: 265px;
    --size-240: 276px;
    --size-245: 280px;
    --size-250: 275px;
    --size-260: 295px;
    --size-270: 310px;
    --size-290: 330px;
    --size-300: 340px;
    --size-306: 350px;
    --size-350: 400px;
    --size-380: 437px;
    --size-390: 449px;
    --size-400: 450px;
    --size-440: 506px;
    --size-510: 587px;
    --size-600: 690px;
    --size-650: 750px;
    --size-670: 770px;
    --size-700: 800px;
    --size-960: 1104px;
    --size-1040: 1196px;
    --size-1300: 1495px;
    --size-1310: 1500px;
    --size-1340: 1541px;
    --size-1600: 1840px;
    --size-1500: 1725px;

    /* 字体大小 */
    --font-size-8: 9px;
    --font-size-9: 10px;
    --font-size-10: 12px;
    --font-size-11: 13px;
    --font-size-12: 14px;
    --font-size-13: 15px;
    --font-size-14: 16px;
    --font-size-15: 17px;
    --font-size-16: 18px;
    --font-size-17: 19px;
    --font-size-18: 20px;
    --font-size-20: 22px;
    --font-size-22: 25px;
    --font-size-30: 34px;
    --font-size-100: 115px;

    --menu-item-width: 233px;
    --menu-item-height: 49px;

    /* connect 组件的变量 */
    --connect-logo-height: 260px;
    --connect-operate-width: 68px;

    /* performance 组件的变量 */
    --performance-center-box-width: 850px;
    --performance-link-btn-left: 555px;
    --performance-link-btn-top: 130px;
    --switch-width: 83px;
    --mode-offset-x-280: 320px;
    --translate-x-value: -220px;
    --scale-54: 62px;
    --scale-114: 130px;
    --scale-172: 195px;
    --scale-191: 220px;
    --scale-42: 48px;
    --scale-92: 105px;
    --scale-142: 160px;
    --scale-190: 215px;
    --scale-1: -1px;
    --scale-55: 63px;
    --scale-117: 134px;
    --scale-178: 204px;
    --scale-241: 277px;
    --slider-height: 230px;
    --slider-point-left: 1px;
    --dead-zone-height: 66;
    --axis-width: 1150px;
    --carousel-outer-width: 1150px;
    --carousel-inner-width: 1450px;
    --carousel-shadow-width: 1050px;
    --carousel-offset-x: 200;

    /* 其他组件的变量 */
    --assignment-menu-width: 285px;
    --assignment-config-card-width: 300px;
    --assignment-leftbox-width: 343px;
    --character-card-width: 742px;
    --character-card-height: 330px;
    --character-card-tab-width: 124px;
    --character-card-tab-width2: 180px;
    --character-card-tab-height: 36px;
    --character-card-tab-left: 50px;
    --character-card-key-right: 16px;
    --mt-el-button-margin: 10px;
    --socd-el-button-margin: 9px;
    --dks-key-left1: 90px;
    --dks-key-left2: 151px;
    --dks-key-left3: 212px;
    --dks-key-left4: 275px;
    --dks-key-height: 23px;
    --dks-key-width1: 23;
    --dks-key-width2: 70;
    --dks-key-width3: 92;
    --dks-key-width4: 126;
    --dks-key-width5: 150;
    --dks-key-width6: 190;
    --dks-key-width7: 213;
    --socd-slider-height: 24px;
    --calibration-echarts-width: 1012px;
    --echarts-container-width: 874px;
    --echarts-container-height: 237px;
    --setting-item-height: 228px;
    --nav-container-width: 1587px;
    --nav-container-height: 58px;
    --nav-item-width: 265px;
    --keyboard-side-width: 140px;
    --keyboard-side-width2: 154px;
    --key-first-row-right: 20px;
    --key-first-row-bottom: 17px;
    --key-fifth-row-right: 84px;
    --key-nth15-right: 147px;
    --key-row-bottom: 3px;
    --key--default-width: 58px;
    --key-default-right: 5px;
    --key-width1: 72px;
    --key-width2: 86px;
    --key-width3: 101px;
    --key-width4: 115px;
    --key-width5: 134px;
    --key-width6: 164px;
    --key-width7: 394px;
    --macro-height: 869px;
    --macro-edit-page-width: 1081px;
    --macro-key-width: 920px;
    --macro-delay-width: 495px;
    --macro-card-height: 421px;
    --macro-change-key-width: 1369px;
    --lighting-item-height: 51px;
    --lighting-item-width: 245px;
    --lighting-dynamic-width: 672px;
    --lighting-static-width: 308px;
    --lighting-set-width: 444px;
    --lighting-item-right: 10.5px;
    --slider-width: 218;
    --slider-btn-offset: 5;
    --iro-handle-top: -13.5px;
    --iro-handle-left: -16px;
    --keyboard-row2-top: 102px;
    --keyboard-row3-top: 164px;
    --keyboard-row4-top: 228px;
    --keyboard-row5-top: 291px;
    --keyboard-row6-top: 353px;
    --keyboard-v2-width: 1030px;
    --keyboard-v2-height: 445px;
    --keyboard-v2-padding: 33px 46px;
    --keyboard-pseudo-element-width: 962px;
    --keyboard-pseudo-element-height: 342px;
    --keyboard-pseudo-element-top: 22px;
    --keyboard-pseudo-element-left: 35px;
  }
}

/* 4K 分辨率 (2160p) 3840*2160 */
@media screen and (min-width: 3001px) {
  :root {
    /* 间距 */
    --spacing-1: 2px;
    --spacing-2: 4px;
    --spacing-3: 6px;
    --spacing-4: 8px;
    --spacing-5: 10px;
    --spacing-6: 12px;
    --spacing-7: 14px;
    --spacing-8: 16px;
    --spacing-9: 18px;
    --spacing-10: 20px;
    --spacing-11: 22px;
    --spacing-12: 24px;
    --spacing-13: 26px;
    --spacing-14: 28px;
    --spacing-15: 30px;
    --spacing-16: 32px;
    --spacing-17: 34px;
    --spacing-18: 36px;
    --spacing-20: 40px;
    --spacing-21: 42px;
    --spacing-22: 44px;
    --spacing-24: 48px;
    --spacing-25: 50px;
    --spacing-26: 52px;
    --spacing-30: 60px;
    --spacing-33: 66px;
    --spacing-34: 68px;
    --spacing-35: 70px;
    --spacing-38: 76px;
    --spacing-40: 80px;
    --spacing-45: 90px;
    --spacing-50: 100px;
    --spacing-54: 108px;
    --spacing-55: 110px;
    --spacing-60: 120px;
    --spacing-65: 130px;
    --spacing-70: 140px;
    --spacing-75: 150px;
    --spacing-80: 180px;
    --spacing-90: 180px;
    --spacing-95: 190px;
    --spacing-105: 210px;
    --spacing-110: 220px;
    --spacing-120: 240px;
    --spacing-130: 260px;
    --spacing-150: 300px;
    --spacing-280: 560px;
    --spacing-265: 530px;

    /* 尺寸 */
    --size-8: 16px;
    --size-10: 20px;
    --size-12: 24px;
    --size-13: 26px;
    --size-14: 28px;
    --size-15: 30px;
    --size-16: 32px;
    --size-17: 34px;
    --size-18: 36px;
    --size-20: 40px;
    --size-22: 44px;
    --size-25: 50px;
    --size-28: 56px;
    --size-30: 60px;
    --size-31: 62px;
    --size-32: 64px;
    --size-34: 68px;
    --size-35: 70px;
    --size-36: 72px;
    --size-40: 80px;
    --size-42: 84px;
    --size-48: 96px;
    --size-50: 100px;
    --size-54: 108px;
    --size-55: 110px;
    --size-60: 120px;
    --size-70: 140px;
    --size-78: 156px;
    --size-80: 160px;
    --size-100: 200px;
    --size-120: 240px;
    --size-130: 260px;
    --size-140: 280px;
    --size-144: 288px;
    --size-150: 300px;
    --size-160: 320px;
    --size-170: 340px;
    --size-180: 360px;
    --size-190: 380px;
    --size-200: 400px;
    --size-220: 440px;
    --size-230: 460px;
    --size-240: 480px;
    --size-245: 490px;
    --size-250: 500px;
    --size-260: 520px;
    --size-270: 540px;
    --size-290: 580px;
    --size-300: 600px;
    --size-306: 612px;
    --size-350: 700px;
    --size-380: 760px;
    --size-390: 780px;
    --size-400: 800px;
    --size-440: 880px;
    --size-510: 1020px;
    --size-600: 1200px;
    --size-650: 1300px;
    --size-670: 1340px;
    --size-700: 1400px;
    --size-960: 1920px;
    --size-1040: 2080px;
    --size-1300: 2600px;
    --size-1310: 2620px;
    --size-1340: 2680px;
    --size-1600: 3200px;
    --size-1500: 3000px;

    /* 字体大小 */
    --font-size-8: 16px;
    --font-size-9: 18px;
    --font-size-10: 20px;
    --font-size-11: 22px;
    --font-size-12: 24px;
    --font-size-13: 26px;
    --font-size-14: 28px;
    --font-size-15: 30px;
    --font-size-16: 32px;
    --font-size-17: 34px;
    --font-size-18: 36px;
    --font-size-20: 40px;
    --font-size-22: 44px;
    --font-size-30: 60px;
    --font-size-100: 200px;

    --menu-item-width: 400px;
    --menu-item-height: 84px;

    /* connect 组件的变量 */
    --connect-logo-height: 456px;
    --connect-operate-width: 116px;

    /* performance 组件的变量 */
    --performance-center-box-width: 1480px;
    --performance-link-btn-left: 1000px;
    --performance-link-btn-top: 224px;
    --switch-width: 146px;
    --mode-offset-x-280: 560px;
    --translate-x-value: -380px;
    --scale-54: 108px;
    --scale-114: 228px;
    --scale-172: 344px;
    --scale-191: 382px;
    --scale-42: 84px;
    --scale-92: 184px;
    --scale-142: 284px;
    --scale-190: 380px;
    --scale-1: -2px;
    --scale-55: 110px;
    --scale-117: 234px;
    --scale-178: 356px;
    --scale-241: 482px;
    --slider-height: 384px;
    --slider-point-left: 2px;
    --dead-zone-height: 120;
    --axis-width: 2000px;
    --carousel-outer-width: 2060px;
    --carousel-inner-width: 2550px;
    --carousel-shadow-width: 1850px;
    --carousel-offset-x: 350;

    /* 其他组件的变量 */
    --assignment-menu-width: 490px;
    --assignment-config-card-width: 520px;
    --assignment-leftbox-width: 600px;
    --character-card-width: 1300px;
    --character-card-height: 580px;
    --character-card-tab-width: 220px;
    --character-card-tab-width2: 300px;
    --character-card-tab-height: 60px;
    --character-card-tab-left: 100px;
    --character-card-key-right: 20px;
    --mt-el-button-margin: 6px 10px;
    --socd-el-button-margin: 5px 10px;
    --dks-key-left1: 156px;
    --dks-key-left2: 264px;
    --dks-key-left3: 370px;
    --dks-key-left4: 480px;
    --dks-key-height: 40px;
    --dks-key-width1: 40;
    --dks-key-width2: 120;
    --dks-key-width3: 160;
    --dks-key-width4: 220;
    --dks-key-width5: 260;
    --dks-key-width6: 330;
    --dks-key-width7: 370;
    --socd-slider-height: 40px;
    --calibration-echarts-width: 1760px;
    --echarts-container-width: 1520px;
    --echarts-container-height: 412px;
    --setting-item-height: 400px;
    --nav-container-width: 2760px;
    --nav-container-height: 100px;
    --nav-item-width: 440px;
    --keyboard-side-width: 240px;
    --keyboard-side-width2: 260px;
    --key-first-row-right: 35px;
    --key-first-row-bottom: 35px;
    --key-fifth-row-right: 146px;
    --key-nth15-right: 256px;
    --key-row-bottom: 10px;
    --key--default-width: 100px;
    --key-default-right: 10px;
    --key-width1: 125px;
    --key-width2: 150px;
    --key-width3: 175px;
    --key-width4: 200px;
    --key-width5: 233px;
    --key-width6: 285px;
    --key-width7: 685px;
    --macro-height: 1512px;
    --macro-edit-page-width: 1880px;
    --macro-key-width: 1600px;
    --macro-delay-width: 860px;
    --macro-card-height: 732px;
    --macro-change-key-width: 2380px;
    --lighting-item-height: 84px;
    --lighting-item-width: 400px;
    --lighting-dynamic-width: 1180px;
    --lighting-static-width: 540px;
    --lighting-item-right: 20px;
    --lighting-set-width: 780px;
    --slider-width: 380;
    --slider-btn-offset: 22;
    --iro-handle-top: -12px;
    --iro-handle-left: -25px;
    --keyboard-row2-top: 178px;
    --keyboard-row3-top: 286px;
    --keyboard-row4-top: 396px;
    --keyboard-row5-top: 506px;
    --keyboard-row6-top: 614px;
    --keyboard-v2-width: 1792px;
    --keyboard-v2-height: 774px;
    --keyboard-v2-padding: 72px 74px;
    --keyboard-pseudo-element-width: 1690px;
    --keyboard-pseudo-element-height: 560px;
    --keyboard-pseudo-element-top: 50px;
    --keyboard-pseudo-element-left: 54px;
  }
}
